// $color-background: rgb(31, 41, 55);
$color-background: #23272E;

// $color-accent: rgb(16, 185, 129);
// $color-accent: #22EE11;
$color-accent: #2196f3;

$color-text-button: rgb(13, 13, 13);

$text-color-primary: #EEEEEE;
$header-color-primary: #9CC3FF; // #00DDFF;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.external {
  background-color: $color-background;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;

  @media (max-width: 700px) {
    padding-top: 0px;
    margin-top: 0px;
  }
}

.internal {
  background-color: $color-background;
  max-width: 768px;
  min-width: 375px;
  width: 100%;

  .custom-div {
    position: relative;
  }

  .change-language {
    position: absolute;
    right: 10px;
  }

  @media (max-width: 730px) {
    .custom-div {
      margin-bottom: 50px;
    }
  }
}

.profile_container {
  display: flex;
  align-items: center;

  @media (max-width: 620px) {
    flex-direction: column;
    align-items: center;

    .profile_photo {
      margin: 0 0 10px 0;
    }
  }
}

.profile_photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-right: 10px;
}

.profile_text {
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
  color: $header-color-primary;
}

h6 {
  color: #B4D8FE;
}

a[href] {
  color: #32C8FF;
}

a[href]:hover {
  color: #0AA0D7;
}

// h1, h2, h3, h4, h5, h6,
span,
p,
ul,
li {
  color: $text-color-primary;
}

li {
  margin-bottom: 5px;
}

hr {
  border-color: $color-accent;
}

.hr-gray {
  border-color: $text-color-primary;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
