:root {
  --color-background: #23272e;
  --color-accent: #2196f3;
  --color-text-button: rgb(13, 13, 13);
  --text-color-primary: #eeeeee;
  --header-color-primary: #9cc3ff;
}

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.external {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

@media (max-width: 700px) {
  .external {
    padding-top: 0px;
    margin-top: 0px;
  }
}

.internal {
  background-color: var(--color-background);
  max-width: 768px;
  min-width: 375px;
  width: 100%;
}

.internal .custom-div {
  position: relative;
}

@media (max-width: 730px) {
  .internal .custom-div {
    margin-bottom: 50px;
  }
}

.profile_container {
  display: flex;
  align-items: center;
}

@media (max-width: 620px) {
  .profile_container {
    flex-direction: column;
    align-items: center;
  }

  .profile_container .profile_photo {
    margin: 0 0 10px 0;
  }
}

.profile_photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-right: 10px;
}

.profile_text {
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--header-color-primary);
}

h6 {
  color: #b4d8fe;
}

a[href] {
  color: #32c8ff;
}

a[href]:hover {
  color: #0aa0d7;
}

span,
p,
ul,
li {
  color: var(--text-color-primary);
}

li {
  margin-bottom: 5px;
}

hr {
  border-color: var(--color-accent);
}

.hr-gray {
  border-color: var(--text-color-primary);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
